@use "sass:math";

// Настройки
@import '_config/variables';
@import '_config/fonts';

// Миксины
@import '_mixins/reset';
@import '_mixins/media';
@import '_mixins/container';
@import '_mixins/flex';
@import '_mixins/hide-element';
@import '_mixins/px-to-rem';

// Библиотеки
@import '_libs/swiper';

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  overflow-x: hidden;
  width:100vw;
}

html,
body {
  @include reset-model;
  min-height: 100vh;
  // background-color: #e5e5e5;
  scroll-behavior: smooth;
  @include font-helvetica-regular;
  font-size: $font-size-base;
  line-height: $line-height-base;
}


// Сброс списка, ссылок и кнопки
ul {
  @include reset-list();
}

a {
  @include reset-link();
}

button {
  @include reset-button();
}

.btn {
  padding: 10px 30px;
  background-color: $primary-color;
  border-radius: 6px;
  font-family: 'Cabinet Grotesk', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  cursor: pointer;
  border: 1px solid transparent;
  opacity: 1;
  transition: color 0.4s linear, background-color .4s linear, border .4s linear;
  &:hover {
    color: $primary-color;
    background-color: $white;
    border: 1px solid $primary-color;
  }
}

// Визуальное скрытие элементов
.vhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Изображения
img {
  max-width: 100%;
  display: block;
  height: auto;
}

// Ограничение для макета
.wrapper {
  @include wrapper;
}

// Контентная область
.container {
  @include container;
}

// Titles

@import 'helpers/titles/modal-title';
@import 'helpers/titles/title';

// Подключение блоков
@import 'block/*.scss';
@import 'helpers/_helpers.scss';
