.hide {
  display: none;
}

.hide-elem {
  opacity: 0;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}

.show {
  display: flex;
}

.hide-btn {
  visibility: hidden;
}

.valid {
  border: 1px solid $success-color;
}
.valid:focus {
  outline: 1px solid transparent;
}

.invalid {
  border: 1px solid $red-color;
}

.invalid:focus {
  outline: 1px solid transparent;
}