.hide {
  display: none;
}

.hide-elem {
  opacity: 0;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}

.show {
  display: flex;
}

.hide-btn {
  visibility: hidden;
}

.valid {
  outline: 1px solid $success-color;
}

.invalid {
  outline: 1px solid $red-color;
}