@font-face {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-style: normal;
  src: url("../font/CabinetGrotesk/CabinetGrotesk-Bold.eot");
  src: local("Cabinet Grotesk"), url("../font/CabinetGrotesk/CabinetGrotesk-Bold.eot?#iefix") format("embedded-opentype"), url("../font/CabinetGrotesk/CabinetGrotesk-Bold.woff2") format("woff2"), url("../font/CabinetGrotesk/CabinetGrotesk-Bold.woff") format("woff"), url("../font/CabinetGrotesk/CabinetGrotesk-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Cabinet Grotesk";
  font-weight: 900;
  font-style: normal;
  src: url("../font/CabinetGrotesk/CabinetGrotesk-Black.eot");
  src: local("Cabinet Grotesk"), url("../font/CabinetGrotesk/CabinetGrotesk-Black.eot?#iefix") format("embedded-opentype"), url("../font/CabinetGrotesk/CabinetGrotesk-Black.woff2") format("woff2"), url("../font/CabinetGrotesk/CabinetGrotesk-Black.woff") format("woff"), url("../font/CabinetGrotesk/CabinetGrotesk-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Now Display";
  font-weight: 400;
  font-style: normal;
  src: url("../font/HelveticaNowDisplay/HelveticaNowDisplay-Regular.eot");
  src: local("Helvetica Now Display"), url("../font/HelveticaNowDisplay/HelveticaNowDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNowDisplay/HelveticaNowDisplay-Regular.woff2") format("woff2"), url("../font/HelveticaNowDisplay/HelveticaNowDisplay-Regular.woff") format("woff"), url("../font/HelveticaNowDisplay/HelveticaNowDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Now Display";
  font-weight: 500;
  font-style: normal;
  src: url("../font/HelveticaNowDisplay/HelveticaNowDisplay-Medium.eot");
  src: local("Helvetica Now Display"), url("../font/HelveticaNowDisplay/HelveticaNowDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNowDisplay/HelveticaNowDisplay-Medium.woff2") format("woff2"), url("../font/HelveticaNowDisplay/HelveticaNowDisplay-Medium.woff") format("woff"), url("../font/HelveticaNowDisplay/HelveticaNowDisplay-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Now Display";
  font-weight: 700;
  font-style: normal;
  src: url("../font/HelveticaNowDisplay/HelveticaNowDisplay-Bold.eot");
  src: local("Helvetica Now Display"), url("../font/HelveticaNowDisplay/HelveticaNowDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNowDisplay/HelveticaNowDisplay-Bold.woff2") format("woff2"), url("../font/HelveticaNowDisplay/HelveticaNowDisplay-Bold.woff") format("woff"), url("../font/HelveticaNowDisplay/HelveticaNowDisplay-Bold.ttf") format("truetype");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Helvetica Now Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.75;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  border: 0;
  color: inherit;
  font-family: inherit;
}

button {
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn {
  padding: 10px 30px;
  background-color: #d6680f;
  border-radius: 6px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

.btn:hover {
  opacity: 0.7;
}

.vhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1440px;
  min-width: 280px;
  min-height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.about {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #fdfbf6;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about__image {
  margin-left: -145px;
  mix-blend-mode: darken;
  height: 571px;
  max-width: 833px;
}

.about__content {
  margin-top: -55px;
}

.about__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 48px;
  line-height: 1.25;
  color: #2c2321;
  max-width: 388px;
  margin-bottom: 20px;
}

.about__description {
  font-size: 16px;
  line-height: 1.75;
  color: #61594d;
  max-width: 419px;
  margin-bottom: 40px;
}

.about__btn {
  padding: 20px 40px;
}

.benefits {
  padding-top: 113px;
  padding-bottom: 120px;
}

.benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.benefits__item {
  max-width: 291px;
}

.benefits__item-img {
  display: inline-block;
  margin-bottom: 22px;
  margin-top: 7px;
}

.benefits__item-title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 32px;
  line-height: 1.25;
  color: #2c2321;
  margin-bottom: 10px;
}

.benefits__item-desc {
  font-size: 16px;
  line-height: 1.75;
  color: #61594d;
  margin-bottom: 26px;
}

.benefits__projects {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  border-bottom: 1px solid #61594d;
  padding-bottom: 1px;
  color: #61594d;
  -webkit-transition: color 0.4s linear, border-bottom 0.4s linear;
  -o-transition: color 0.4s linear, border-bottom 0.4s linear;
  transition: color 0.4s linear, border-bottom 0.4s linear;
  cursor: pointer;
}

.benefits__projects:hover {
  color: #d6680f;
  border-bottom: 1px solid #d6680f;
}

.contact__phone {
  margin-bottom: 10px;
  display: inline-block;
  border-bottom: 1px solid #d6680f;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  color: #d6680f;
  -webkit-transition: border-botom 0.4s ease-in, color 0.4s ease-in;
  -o-transition: border-botom 0.4s ease-in, color 0.4s ease-in;
  transition: border-botom 0.4s ease-in, color 0.4s ease-in;
}

.contact__phone:hover {
  color: #f39d58;
  border-bottom: 1px solid #f39d58;
}

.contact__description {
  margin-top: -3px;
  margin-right: 5px;
  max-width: 249px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #61594d;
  margin-right: -1px;
}

.feedback__contact {
  margin-top: 32px;
}

.feedback__rate {
  margin-top: -18px;
}

.header {
  background-color: #f7f7f7;
  padding-top: 30px;
}

.header__menu-nav {
  margin-left: 71px;
  margin-top: -9px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__tool-bar {
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__lang {
  margin-right: 49px;
}

.intro {
  background-color: #f7f7f7;
  padding-top: 138px;
  padding-bottom: 175px;
  background-image: url("../img/intro/blur.svg"), url("../img/intro/modern-house.png");
  background-position: top 16px left 26px, top 138px right 0;
  background-repeat: no-repeat, no-repeat;
  background-size: 249px 220px, 838px 600px;
}

.intro__title {
  max-width: 533px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 62px;
  line-height: 1.2419354839;
  color: #2c2321;
  margin-bottom: 20px;
}

.intro__subtitle {
  max-width: 452px;
  font-size: 18px;
  line-height: 1.6666666667;
  color: #61594d;
  margin-bottom: 34px;
}

.intro__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.intro__btn {
  margin-bottom: 120px;
  padding: 20px 40px;
}

.lang {
  position: relative;
}

.lang-list {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 18px;
  left: 0;
  width: 50px;
  border-radius: 5px;
}

.lang-list__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2321;
  text-transform: uppercase;
  cursor: pointer;
}

.lang-list__item:hover {
  color: blue;
}

.lang__lang-choose {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2321;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.lang__lang-choose:hover .lang-list {
  height: auto;
  opacity: 1;
  overflow: visible;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.lang__lang-choose::after {
  content: "";
  position: absolute;
  top: 57%;
  right: -21.5px;
  width: 12px;
  height: 9px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url("../img/header/arrow-down.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.menu-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-nav__list li + li {
  margin-left: 20px;
}

.menu-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2321;
  text-transform: uppercase;
  padding: 5px;
  position: relative;
}

.menu-nav__link::before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 5px;
  background-color: #2c2321;
  height: 1px;
  width: 0;
  -webkit-transition: width 0.4s linear;
  -o-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

.menu-nav__link:hover::before {
  width: calc(100% - 10px);
}

.rate__desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #61594d;
  margin-bottom: 20px;
  margin-top: -4px;
}

.rate__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2c2321;
  margin-bottom: 7px;
  margin-top: -2px;
}

.rate__title span {
  margin-left: 25px;
  position: relative;
}

.rate__title span::before {
  content: "";
  background-image: url("../img/rating/star.png");
  position: absolute;
  left: -21px;
  top: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
}

.rate-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rate-list li + li {
  margin-left: -10px;
}

.rate-list img {
  border-radius: 50%;
}

.rate-list__circle {
  width: 48px;
  height: 48px;
  background-color: #d6680f;
  border-radius: 50%;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search__section {
  margin-top: -112px;
}

.search__form {
  padding: 50px;
  background-color: #fff;
  -webkit-box-shadow: 30px 50px 150px rgba(39, 31, 26, 0.2);
  box-shadow: 30px 50px 150px rgba(39, 31, 26, 0.2);
  border-radius: 10px;
  max-width: 1140px;
}

.search__title {
  margin-bottom: 20px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 1.25;
  color: #2c2321;
}

.search__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.search__item--location {
  background: url("../img/search-form/location.svg") right 20px center/20px 20px no-repeat #f5f5f5;
}

.search__item--type {
  background: url("../img/search-form/home.svg") right 20px center/20px 20px no-repeat #f5f5f5;
}

.search__item--budget {
  background: url("../img/search-form/dollar-sign.svg") right 20px center/20px 20px no-repeat #f5f5f5;
}

.search__item-input {
  width: 100%;
  max-width: 271px;
  padding: 18px 20px;
  border: none;
  border-radius: 6px;
  outline: 1px solid transparent;
  height: 60px;
  padding-right: 50px;
  -webkit-transition: outline 0.4s linear;
  -o-transition: outline 0.4s linear;
  transition: outline 0.4s linear;
}

.search__item-input::-webkit-input-placeholder {
  font-family: "Helvetica Now Display", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(97, 89, 77, 0.6);
}

.search__item-input::-moz-placeholder {
  font-family: "Helvetica Now Display", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(97, 89, 77, 0.6);
}

.search__item-input:-ms-input-placeholder {
  font-family: "Helvetica Now Display", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(97, 89, 77, 0.6);
}

.search__item-input::-ms-input-placeholder {
  font-family: "Helvetica Now Display", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(97, 89, 77, 0.6);
}

.search__item-input::placeholder {
  font-family: "Helvetica Now Display", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(97, 89, 77, 0.6);
}

.search__item-input:focus {
  outline: 1px solid #d6680f;
}

.search__btn {
  padding: 20px 40px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 166px;
}

@supports (-webkit-appearance:none) {
  .intro {
    background-image: url("../img/intro/blur.svg"), url("../img/intro/modern-house.webp");
  }

  .lang__lang-choose::after {
    background-image: url("../img/header/arrow-down.svg");
  }

  .rate__title span::before {
    background-image: url("../img/rating/star.webp");
  }

  .search__item--location {
    background: url("../img/search-form/location.svg") right 20px center/20px 20px no-repeat #f5f5f5;
  }

  .search__item--type {
    background: url("../img/search-form/home.svg") right 20px center/20px 20px no-repeat #f5f5f5;
  }

  .search__item--budget {
    background: url("../img/search-form/dollar-sign.svg") right 20px center/20px 20px no-repeat #f5f5f5;
  }
}