// Ограничение макета
$wrapper-max: 1440px !default;
$wrapper-min: 280px !default;

// Контейнер
$container-max-widths: 1180px;
$container-padding: 20px;

// Контрольные точки
$breakpoints: (
  mobile-xs: 0,
  mobile-l: 420px,
  mobile-sm: 576px,
  mobile: 768px,
  tablet: 992px,
  notebook: 1200px,
  large: 1400px,
) !default;

// Шрифт
$font-family-base: 'Helvetica Now Display';
$font-size-base: 16px;
$line-height-base: 1.75;
$font-weight-base: 400;
$font-style-base: normal;

// Цвета
$color-bg-base: #fff;
$color-bg-second: #f7f7f7;
$color-bg-third: #f5f5f5;
$color-bg-fouth: #fdfbf6;
$color-text-base: #61594d;
$color-subtitle-slide: #cdcdcd;
$color-violet: #2f2f60;
$house-item-color: bisque;
$color-text: antiquewhite;
$bg-light: cadetblue;
$success-color: #1cff1c;
$success-popup-color: floralwhite;
$success-second-color: #5eee5e;
$red-color: red;
$error-color: #e71515;
// Colors

$black: #2c2321;
$primary-color: #d6680f;
$white: #fff;
