.about {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: $color-bg-fouth;
  // .about__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .about__image

  &__image {
    margin-left: -140px;
    mix-blend-mode: darken;
    height: 571px;
    max-width: 833px;
    margin-top: -8px;
  }

  // .about__content

  &__content {
    margin-top: -44px;
  }

  // .about__title

  &__title {
    max-width: 388px;
    margin-bottom: 20px;
  }

  // .about__description

  &__description {
    @include font(16px, 28px);
    color: $color-text-base;
    max-width: 419px;
    margin-bottom: 40px;
  }

  // .about__btn

  &__btn {
    padding: 20px 40px;
  }
}
