.architects {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $black;
  @include media-down(350px) {
    padding-bottom: 50px;
  }
  @include media-down(320px) {
    padding-bottom: 20px;
  }
  // .architects__inner
  @include bp-desk(tablet) {
    padding-top: 70px;
  }
  @include bp-desk(mobile) {
    padding-top: 36px;
  }
  &__inner {
    display: flex;
    position: relative;
    align-items: flex-start;
    @include bp-desk(large) {
      display: block;
    }
    @include bp-desk(tablet) {
      align-items: center;
    }
  }

  // .architects__title

  &__title {
    max-width: 388px;
    margin-right: 11px;
    flex-shrink: 0;
    @include bp-desk(large) {
      max-width: 100%;
      margin-bottom: 40px;
    }
    @include bp-desk(notebook) {
      text-align: center;
    }
    @include bp-desk(tablet) {
      flex-shrink: 1;
    }
    @include bp-desk(tablet) {
      @include font(36px, 36px);
    }
    @include bp-desk(mobile-l) {
      @include font(27px, 27px);
    }
  }

  // .architects__slider-container

  &__slider-container {
    flex-shrink: 0;
    min-height: 440px;
    @include bp-desk(notebook) {
      flex-shrink: 1;
    }
  }

  // .architects__nav

  &__nav {
    position: absolute;
    left: 15px;
    bottom: -9px;
    @include bp-desk(large) {
      bottom: -80px;
    }
    @include media-down(350px) {
      bottom: -25px;
    }
    @include media-down(320px) {
      bottom: 5px;
    }
  }
}
