.benefits {
  padding-top: 113px;
  padding-bottom: 120px;
  @include bp-desk(tablet) {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  // .benefits__items

  &__items {
    display: flex;
    justify-content: space-between;
    @include bp-desk(tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .benefits__item
  &__item {
    max-width: 291px;
  }
  @include bp-desk(tablet) {
    &__item + &__item {
      margin-top: 30px;
    }
  }

  // .benefits__item-img

  &__item-img {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 22px;
    margin-top: 7px;
    transition: fill .3s ease-in;
    &--light {
      fill: $darken;
    }
    &--dark {
      fill: $white;
    }
  }

  // .benefits__item-title

  &__item-title {
    margin-bottom: 10px;
    transition: color .3s ease-in;
    &--light {
      color: $black;
    }
    &--dark {
      color: $white;
    }
  }

  // .benefits__item-desc

  &__item-desc {
    @include font(16px, 28px);
    color: $color-text-base;
    margin-bottom: 26px;
    transition: color .3s ease-in;
    &--light {
      color: $darken;
    }
    &--dark {
      color: $white;
    }
  }

  // .benefits__projects

  &__projects {
    @include font-cabinet-bold();
    @include font(16px, 20px);
    padding-bottom: 1px;
    transition: color 0.4s linear, border-bottom 0.4s linear;
    cursor: pointer;
    &--light {
      border-bottom: 1px solid $color-text-base;
      color: $color-text-base;
    }
    &--dark {
      border-bottom: 1px solid $white;
      color: $white;
    }
    &:hover {
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
    }
  }
}
