.contact {
  margin-top: 32px;

  &__phone {
    margin-bottom: 10px;
    display: inline-block;
    border-bottom: 1px solid $primary-color;
    @include font-cabinet-bold();
    @include font(16px, 20px);
    color: $primary-color;
    transition: border-botom 0.4s ease-in, color 0.4s ease-in;
    &:hover {
      color: lighten($primary-color, 20%);
      border-bottom: 1px solid lighten($primary-color, 20%);
    }
  }
  // .contact__description

  &__description {
    margin-top: -3px;
    margin-right: 5px;
    max-width: 249px;
    font-weight: 500;
    @include font(12px, 18px);
    color: $color-text-base;
    margin-right: -1px;
  }
}
