.footer-list {
  @include font(16px, 28px);
  color: $color-text-base;
  & + & {
    @include bp-desk(mobile) {
      margin-top: 20px;
    }
  }
  &__link {
    transition: color 0.4s ease-in;
    &:hover {
      color: $primary-color;
    }
  }
}
