.footer {
  transition: color .3s ease-in;
  &--light {
    color: $color-text-base;
  }
  &--dark {
    color: $white;
  }
  // .footer__inner
  &__inner {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 50px;
    transition: border-top .3s ease-in;
    &--light {
      border-top: 1px solid $color-text-base;
    }
    &--dark {
      border-top: 1px solid $white;
    }
    @include bp-desk(mobile) {
      flex-direction: column;
    }
  }

  &__address {
    font-style: normal;
    @include bp-desk(mobile) {
      margin-bottom: 20px;
    }
    &-link {
      transition: color 0.4s ease-in;
      &:hover {
        color: $primary-color;
      }
    }
  }
  &__logo {
    @include bp-desk(mobile) {
      margin-bottom: 30px;
    }
  }
}
