.header {
  background-color: $color-bg-second;
  padding-top: 30px;
  // .header__menu-nav
  &__menu-nav {
    margin-left: 71px;
    margin-top: -9px;
  }
  // .header__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__tool-bar

  &__tool-bar {
    margin-top: -5px;
    display: flex;
    align-items: center;
  }

  // .header__lang

  &__lang {
    margin-right: 30px;
  }
}
