.header {
  position: fixed;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: $color-bg-second;
  padding-top: 30px;
  padding-bottom: 15px;
  // динамический padding для корректного отображения модальных окон
  padding-right: calc(20px - (100vw - 100%));
  // .header__menu-nav
  &__menu-nav {
    margin-left: 71px;
    margin-top: -9px;
    @include bp-desk(tablet) {
      display: none;
    }
  }

  &__burger {
    z-index: 1001;
  }
  // .header__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  // .header__tool-bar

  &__tool-bar {
    margin-top: -5px;
    display: flex;
    align-items: center;
    @include bp-desk(tablet) {
      display: none;
    }
  }

  // .header__lang

  &__lang {
    margin-right: 30px;
  }
  &__logo {
    flex-shrink: 0;
  }
  &__mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
  }
}
