.header {
  padding-top: 30px;
  margin-bottom: 138px;
  // .header__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__tool-bar

  &__tool-bar {
    display: flex;
    align-items: center;
  }

  // .header__lang

  &__lang {
    margin-right: 49px;
  }
}

.menu-nav {
  margin-right: auto;
  margin-left: 297px;
  // .menu-nav__list

  &__list {
    display: flex;
    li + li {
      margin-left: 20px;
    }
  }

  // .menu-nav__link

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $black;
    text-transform: uppercase;
    padding: 5px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: 3px;
      left: 5px;
      background-color: $black;
      height: 1px;
      width: 0;
      transition: width 0.4s linear;
    }
    &:hover::before {
      width: calc(100% - 10px);
    }
  }
}
.lang {
  position: relative;
  // .lang__lang-choose
  &__langs-choose {
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 18px;
    left: 0;
    width: 50px;
    border-radius: 5px;
    li {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: $black;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        color: blue;
      }
    }
  }
  &__lang-choose {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $black;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    &:hover .lang__langs-choose {
      height: auto;
      opacity: 1;
      overflow: visible;
      transition: all 0.4s linear;
    }
    &::after {
      content: '';
      position: absolute;
      top: 57%;
      right: -21.5px;
      width: 12px;
      height: 9px;
      transform: translateY(-50%);
      background-image: url('../../img/header/arrow-down.svg');
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
}

// Intro

.intro {
  // .intro__title

  &__title h1 {
    max-width: 533px;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 900;
    font-size: 62px;
    line-height: 77px;
    color: $black;
    margin-bottom: 20px;
  }

  // .intro__subtitle

  &__subtitle p {
    max-width: 452px;
    line-height: 30px;
    font-size: 18px;
    color: $color-text-base;
    margin-bottom: 34px;
  }

  // .intro__btn

  &__btn {
    margin-bottom: 120px;
  }
}

.intro__btn.btn {
  padding: 20px 40px;
}

.rate {
  p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #61594d;
    margin-bottom: 20px;
  }
  // .rate__title

  &__title {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $black;
    margin-bottom: 7px;
    span {
      margin-left: 31px;
      position: relative;
      &::before {
        content: '';
        background-image: url('./img/rating/star.png');
        position: absolute;
        left: -20px;
        top: 10px;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
      }
    }
  }

  // .rate__list

  &__list {
    display: flex;
    li + li {
      margin-left: -10px;
    }
    img {
      border-radius: 50%;
    }
  }

  // .rate__list-circle

  &__list-circle {
    width: 48px;
    height: 48px;
    background-color: $primary-color;
    border-radius: 50%;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $white;
    @include flex-center();
  }
}

.feedback {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 175px;
}

.contact {
  // .contact__description

  &__description p {
    max-width: 249px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $color-text-base;
  }
}
.phone {
  margin-bottom: 10px;
  a {
    display: inline-block;
    border-bottom: 1px solid $primary-color;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $primary-color;
  }
}

.wrapper {
  background: url('../img/intro/blur.svg') left 26px top 86px / 249px 220px
      no-repeat,
    url('../img/intro/modern-house.png') right 0 top 208px / 838px 600px
      no-repeat;
  // background-size: 249px 220px, 838px 600px;
}
