.intro {
  background-color: $color-bg-second;
  padding-top: 138px;
  padding-bottom: 175px;
  background-image: url('../img/intro/blur.svg'),
    url('../img/intro/modern-house.png');
  background-position: top 16px left 26px, top 138px right 0;
  background-repeat: no-repeat, no-repeat;
  background-size: 249px 220px, 838px 600px;
  // .intro__title

  &__title {
    max-width: 533px;
    @include font-cabinet-black();
    @include font(62px, 77px);
    color: $black;
    margin-bottom: 20px;
  }

  // .intro__subtitle

  &__subtitle {
    max-width: 452px;
    @include font(18px, 30px);
    color: $color-text-base;
    margin-bottom: 34px;
  }

  // .intro__btn

  &__btn {
    margin-bottom: 120px;
    padding: 20px 40px;
  }
}
