.lang {
  position: relative;
  transition: color .3s ease-in;
  &--light {
    color: $black;
  }
  &--dark {
    color: $white;
  }
  // .lang__lang-choose
  &-list {
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 18px;
    left: 0;
    width: 50px;
    border-radius: 5px;
    &__item {
      font-weight: 500;
      @include font(14px, 21px);
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        color: blue;
      }
    }
  }
  &-list__show {
    height: auto;
    opacity: 1;
    overflow: visible;
    transition: all 0.4s linear;
  }
  &__name {
    margin-right: 9.5px;
  }
  &__arrow {
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in;
    &-rotate {
      transform: rotate(90deg);
    }
  }
  &__lang-choose {
    display: flex;
    align-items: center;
    font-weight: 500;
    @include font(14px, 21px);
    text-transform: uppercase;
  }
  &__arrow {
    fill: none;
    stroke-width: 1.5px;
    &--light {
      stroke: $black;
    }
    &--dark {
      stroke: $white;
    }
  }
  &__arrow-btn {
    position: relative;
    z-index: 1000;
    padding: 10px;
    margin: -10px;
  }
}
