.menu-nav {
  // .menu-nav__list

  &__list {
    display: flex;
    li + li {
      margin-left: 20px;
    }
  }

  // .menu-nav__link

  &__link {
    font-weight: 500;
    @include font(14px, 21px);
    text-transform: uppercase;
    padding: 5px;
    position: relative;
    transition: color .3s ease-in;
    &--light {
      color: $black;
    }
    &--dark {
      color: $white;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 3px;
      left: 5px;
      background-color: $black;
      height: 1px;
      width: 0;
      transition: width 0.4s linear;
    }
    &:hover::before {
      width: calc(100% - 10px);
    }
  }
}
