.mobile-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translateX(-1000px);
  opacity: 0;
  height: 0;
  transition: transform 1s linear, opacity 1s linear, height 1s linear;
  background-color: $white;
  color: $black;
  z-index: 1000;
  &--active {
    transform: translate(0, 0);
    opacity: 1;
    height: auto;
  }
  &__item + &__item {
    margin-top: 20px;
  }
  &__link {
    font-size: 18px;
  }
  &__lang {
    margin-right: 15px;
  }
  &__tool-bar {
    align-items: center;
    margin-top: 30px;
    display: flex;
  }
}
