.modal-form {
  &__input {
    display: inline-block;
    margin-right: 20px;
    background-color: $color-bg-third;
    width: 100%;
    max-width: 271px;
    padding: 10px;
    border-radius: 6px;
    outline: 0;
    border: 1px solid transparent;
    padding-right: 50px;
    transition: border 0.4s linear;
    margin-bottom: 25px;
    &::placeholder {
      @include font-helvetica-medium();
      @include font(16px, 24px);
      color: rgba(97, 89, 77, 0.6);
    }
    &:focus {
      border: 1px solid $primary-color;
    }
  }
  &__successful-popup-text {
    @include font-helvetica-medium();
    @include font(14px, 17px);
    color: $modal-bg-color;
  }
  &__unsuccessful-popup {
    background-color: $error-color;
    @include bp-desk(mobile) {
      & + * {
        margin-top: 15px;
      }
    }
  }
  &__successful-popup {
    padding: 10px;
    border-radius: 5px;
    background-color: $success-color;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
    width: fit-content;
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
  &__btn {
    margin-bottom: 20px;
    display: flex;
  }
}