.modal-type {
  &__inner {
    background-color: $modal-bg-color;
  }
  &__title {
    margin-bottom: 4rem;
  }
  &__houses {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    @include bp-desk(tablet) {
      flex-wrap: wrap;
      row-gap: 30px;
    }
  }
  &__text + * {
    margin-top: 35px;
  }
  &__text {
    min-height: 195px;
    border-radius: 15px;
    background-color: $color-text;
    padding: 20px;
    width: 100%;
    max-width: 390px;
  }
}
