.modal-type {
  &__title {
    margin-bottom: 4rem;
  }
  &__houses {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    @include bp-desk(tablet) {
      flex-wrap: wrap;
    row-gap: 30px;
    }
  }
  &__text + * {
    margin-top: 35px;
  }
  &__text {
    width: 100%;
  }
}
