.modal-search {
  &__title {
    margin-bottom: 50px;
    color: $success-color;
  }
  &__inner {
    background-color: $bg-light;
    @include bp-desk(mobile) {
      padding: 4rem 1.5rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      min-height: 100vh;
    }
  }
  &__description {
    background-color: $color-text;
    border-radius: 20px;
    padding: 20px;
    width: 100%;

    max-width: 500px;
    margin-bottom: 35px;
  }

}
