.news {
  padding-top: 100px;
  padding-bottom: 120px;
  // .news__inner

  // &__inner {
  // }

  // .news__list

  &__list {
    display: flex;
    justify-content: space-between;
    @include bp-desk(notebook) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .news__list-item

  // &__list-item {
  // }

  // .news__list-img

  &__list-img {
    margin-bottom: 50px;
    margin-top: 22px;
  }
}
