.projects-list {
  // .projects-list__item

  &__item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &:nth-child(odd) {
      flex-direction: row-reverse;
      margin-right: -150px;
      @include bp-desk(notebook) {
        flex-direction: column;
        align-items: flex-start;
        margin-right: 0;
      }
    }
    @include bp-desk(notebook) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item + &__item {
    margin-top: 150px;
    @include bp-desk(notebook) {
      margin-top: 50px;
    }
  }
}
