.projects {
  padding: 83px 0 120px 0;
  @include bp-desk(tablet) {
    padding: 63px 0 100px 0;
  }
  @include bp-desk(mobile) {
    padding: 43px 0 70px 0;
  }

  // .projects__title

  &__title {
    margin-bottom: 50px;
    transition: color .3s ease-in;
    &--light {
      color: $black;
    }
    &--dark {
      color: $white;
    }
    @include bp-desk(mobile) {
      font-size: 38px;
    }
    @include bp-desk(mobile-l) {
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}
