.project {
  // .project__photo
  &__photo-container {
    @include bp-desk(notebook) {
      margin-bottom: 40px;
      align-self: flex-end;
    }
  }
  // .project__content

  &__content {
    max-width: 330px;
    // margin-top: auto;
    margin-right: 10px;
  }

  // .project__title

  &__title {
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  // .project__description

  &__description {
    @include font(16px, 28px);
    color: $color-text-base;
    max-width: 330px;
  }
}
