.search {
  .container {
    @include bp-desk(notebook) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  // .search__form
  &__form {
    padding: 50px;
    background-color: $white;
    box-shadow: 30px 50px 150px rgba(39, 31, 26, 0.2);
    border-radius: 10px;
    max-width: 1140px;
    @include bp-desk(mobile-sm) {
      padding: 22px;
    }
  }

  // .search__title

  &__title {
    margin-bottom: 20px;
  }

  // .search__items

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    @include bp-desk(notebook) {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    flex-grow: 1;
    width: 100%;
    @include bp-desk(notebook) {
      & + & {
        margin-top: 20px;
      }
    }
  }
    &__icon {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: scale(1) translateY(-50%);
    width: 20px;
    height: 20px;
    stroke:#61594D;
    fill: none;
    transition: transform .4s linear, stroke .4s linear;
    cursor: pointer;
    &:hover {
      transform: scale(1.3) translateY(-40%);
      stroke: $primary-color;
    }
    @include bp-desk(notebook) {
      right: 20px;
    }
  }
  &__item-input {
    background-color: $color-bg-third;
    width: 100%;
    max-width: 271px;
    padding: 18px 20px;
    border: none;
    border-radius: 6px;
    outline: 1px solid transparent;
    height: 60px;
    padding-right: 50px;
    transition: outline 0.4s linear;
    @include bp-desk(notebook) {
      max-width: 100%;
    }
    @include bp-desk(mobile) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &::placeholder {
      @include font-helvetica-medium();
      @include font(16px, 24px);
      color: rgba(97, 89, 77, 0.6);
    }

    &:focus {
      outline: 1px solid $primary-color;
    }
  }

  &__btn {
    padding: 20px 40px;
    flex-shrink: 0;
    min-width: 166px;
    text-transform: capitalize;
    @include bp-desk(notebook) {
      margin-top: 20px;
    }
  }
}
