.search {
  // .search__form
  &__form {
    padding: 50px;
    background-color: $white;
    box-shadow: 30px 50px 150px rgba(39, 31, 26, 0.2);
    border-radius: 10px;
    max-width: 1140px;
    @include bp-desk(mobile-sm) {
      padding: 22px;
    }
  }

  // .search__title

  &__title {
    margin-bottom: 20px;
  }

  // .search__items

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    @include bp-desk(notebook) {
      flex-direction: column;
    }
  }

  &__item {
    &--location {
      background: url('../img/search-form/location.svg') right 20px center /
        20px 20px no-repeat $color-bg-third;
      // margin-left: 15px;
    }

    &--type {
      background: url('../img/search-form/home.svg') right 20px center / 20px
        20px no-repeat $color-bg-third;
      // margin-left: -4px;
    }

    &--budget {
      background: url('../img/search-form/dollar-sign.svg') right 20px center /
        20px 20px no-repeat $color-bg-third;
    }
  }

  &__item-input {
    width: 100%;
    max-width: 271px;
    padding: 18px 20px;
    border: none;
    border-radius: 6px;
    outline: 1px solid transparent;
    height: 60px;
    padding-right: 50px;
    transition: outline 0.4s linear;
    @include bp-desk(notebook) {
      max-width: 770px;
      & + & {
        margin-top: 20px;
      }
    }
    &::placeholder {
      @include font-helvetica-medium();
      @include font(16px, 24px);
      color: rgba(97, 89, 77, 0.6);
    }

    &:focus {
      outline: 1px solid $primary-color;
    }
  }

  &__btn {
    padding: 20px 40px;
    flex-shrink: 0;
    width: 166px;
    @include bp-desk(notebook) {
      margin-top: 20px;
    }
  }
}
