.slider {
  // .slider__wrapper

  &__wrapper {
    display: flex;
    gap: 30px;
  }
  // &__container {

  // }
  // .slider__item

  &__item {
    position: relative;
    flex-basis: 350px;
    min-height: 440px;
  }
}
