// Ограничение макета
@mixin wrapper {
  max-width: $wrapper-max;
  min-width: $wrapper-min;
  min-height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  background: url('../img/intro/blur.svg') left 26px top 86px / 249px 220px
      no-repeat,
    url('../img/intro/modern-house.png') right 0 top 203px / 838px 600px
      no-repeat;
}


// Контейнер
@mixin container {
  max-width: $container-max-widths;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin: 0 auto;
}
