// Подключение шрифтов всех расширений
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    src: url('#{$file-path}.eot');
    src: local('#{$font-family}'),
      url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
      url('#{$file-path}.woff2') format('woff2'),
      url('#{$file-path}.woff') format('woff'),
      url('#{$file-path}.ttf') format('truetype');
  }
}

@mixin font($font-size, $line-height) {
  font-size: $font-size;
  line-height: math.div($line-height, $font-size);
}

// Подключение миксина @include font(14px, 21px);
