// Сброс блочной модели
@mixin reset-model {
  padding: 0;
  margin: 0;
}

// Сброс списка
@mixin reset-list {
  list-style: none;
  @include reset-model();
}

// Сброс ссылки
@mixin reset-link {
  text-decoration: none;
  border: 0;
  color: inherit;
  font-family: inherit;
}

// Сброс кнопки
@mixin reset-button {
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

//todo Сброс input
