doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Gulp-starter
    link(rel="stylesheet" href="css/main.min.css")
    script(src="js/main.js")

    <!-- Для современных браузеров -->
    link(rel="icon" href="img/favicon/favicon.svg")
    <!-- Apple Touch для iOS -->
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    <!-- Для Android и будущих программ -->
    link(rel="manifest" href="manifest.json")
  body 
    .container
      block page